{% extends "base.html" %}

{% block title %}Báo cáo Xếp hạng ASM{% endblock %}

{% block content %}
    <div class="content-header">
        <h1>Báo cáo Xếp hạng ASM</h1>
        <div class="email-section">
            <h3>Send Report</h3>
            <h4>Nhập địa chỉ email để nhận báo cáo tháng cần theo dõi:</h4>
            <div class="email-form">
                <input type="email" id="recipientEmail" placeholder="Email người nhận..." required>
                <button id="btnSendEmail">Send</button>
            </div>
        </div>
    </div>

    <div class="controls">
        <form action="{{ url_for('ranking_report') }}" method="get">
            <div class="select-container">
            <label for="month">Chọn tháng báo cáo:</label>
            <select name="month" id="month" onchange="this.form.submit()">
                {% for month in months %}
                    <option value="{{ month.value }}" {% if month.value == selected_month %}selected{% endif %}>
                        {{ month.text }}
                    </option>
                {% endfor %}
            </select>
            </div>
            <noscript><input type="submit" value="Xem"></noscript>
        </form>
    </div>

    <div class="report">
        <h2>Báo cáo Xếp hạng ASM Tháng {{ selected_month[4:] }} Năm {{ selected_month[:4] }}</h2>
        {{ ranking_table_html|safe }}
        <h5>Đơn vị: Triệu đồng</h5>
    </div>
{% endblock %}